<h1>Data Analytics Charts</h1>
    <div class="chart-container">
        <!-- First Chart -->
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-enharsj/embed/charts?id=66bbd948-7edc-4e64-852d-710f7ada4f56&maxDataAge=-1&theme=light&autoRefresh=false"></iframe>
        <!-- Second Chart -->
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-enharsj/embed/charts?id=66bbf48e-a4ed-41df-8f60-b5657631b6cf&maxDataAge=-1&theme=light&autoRefresh=false"></iframe>
        <!-- Third Chart -->
       <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-enharsj/embed/charts?id=66bbf61a-de7d-4e3e-84cd-f5bc93f90bb4&maxDataAge=-1&theme=light&autoRefresh=false"></iframe>
    </div>